*{
  margin: 0;
  padding: 0;
}
.registration{
  display: flex;

}
.registration .left{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: end;
  
}
.registration .left .textContainer{
  width: 50%;
  margin-top:100px ;
  
}


.registration .left .textContainer p{
  margin-bottom: 50px;
}

.registration .right{
  width: 50%;
  height: 100vh;
  
}
.registration .bg{
  width: 100%;
  height: 100%;
}
.inputCss{
  width: 90%;
  margin: 15px 0 !important;
}
.regbtn{
  width: 90%;
  padding: 15px 0 !important;
  border-radius: 50px !important;
  margin-top: 20px !important;
}
.focus{
  font-weight: bold;
  color: orange;
}
.eye{
  position: relative;
  top: 30px;
  right: 35px;
}

.forgotpage{
  background-color: blueviolet;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotbox{
  background-color: #fff;
  padding: 20px;
  
}
.sidebar{
  background: #5f35f5;
  width: 85%;
  height: 95vh;
  margin: auto;
  margin-top: 2.5vh;
  text-align: center;
  padding: 38px 0;
  border-radius: 20px;
  overflow-y: scroll;
}

.sidebarImg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

.sidebar h1{
  color: white;
  font-size: 16px;

}
.sidebar ul li{
  margin: 42px;
  list-style: none;
}
.sidebar .icon{
  color: #fff;
  font-size: 30px;
}

.active{
  position: relative;
  z-index: 2;
}

.active .icon{
  color: #5F35F5;
}

.active:before{
  position: absolute;
  top: -7px;
  left: -25px;
  width: 155%;
  height: 50px;
  background: #fff;
  content: "";
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.active:after{
  position: absolute;
  top: -7px;
  right: -41px;
  width: 7%;
  height: 50px;
  background: #5F35F5;
  content: "";
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.box{
  width: 100%;
  height: 49vh;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 2.5vh;
  overflow-y: scroll;
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.2);
  
}

.list{
  display: flex;
  align-items: center;
  column-gap: 20px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin: 10px 0;
}

.list:last-child{
  border-bottom: 0;
}

/* .glp{
  padding: 0 30px 0 14px;
}
.fndR{
  padding: 0 100px 0 0;
}
.fnds{
  padding: 0 50px 0 0;
} */

.messagebox{
  margin-top: 10px;
  height: 100vh;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.2);
  padding: 20px;
  overflow-y: scroll;
} 

.container{
  overflow-y: scroll;
  height: 80%;
}



.sendmessage{
  display: flex;
  justify-content: end;
}

.sendmessage p{
 background: #F1F1F1;
 display: inline-block;
 padding: 10px 15px;
 border-radius: 5px;

}

.recivemessage p{
 background: #F1F1F1;
 display: inline-block;
 padding: 10px 15px;
 border-radius: 5px;
}

.sendimage{
  display: flex;
  justify-content: end;
}

.sendimage .imagebox{
  background: #686672;
  display: inline-block;
  padding: 5px;
  border-radius: 10px ;
  
}

.sendimage img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.sendimage .__react_modal_image__medium_img{
  width: auto;
  height: auto;
}



.reciveimage .imagebox{
  background: #706988;
  display: inline-block;
  padding: 5px;
  border-radius: 10px ;
  
}

.reciveimage img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.reciveimage .__react_modal_image__medium_img{
  width: auto;
  height: auto;
}

.sendAudio{
  display: flex;
  justify-content: end;
}
.sendVideo{
  display: flex;
  justify-content: end; 
}

.messagefiled{
  border-top: 10px solid rgb(53, 50, 50);
  width: 100%;
  padding-top: 50px;
  position: relative;
  border-radius: 30px;
  /* display: flex;
  justify-content: space-between; */
  
}

.messagefiled .MuiTextField-root{
  
  width: 70%
}

.mszbtn{
  border-radius: 50px !important ;
}

.messagefiled .smile{
  position: absolute;
  top: 70px;
  left: 500px;
}
.messagefiled .emojiHolder{
  position: absolute;
  top: 70px;
  left: 500px;
}








